<style type="text/css">
	body {
		color: #fff;
		background: white;
	}
	.text-font{
	font-size: 16px;
        font-weight: bold;
		background: #70c5c0;
		border: none;
		margin-bottom: 20px;
		font-align:center;
		}
	</style>
</head>@charset "UTF-8";